<!DOCTYPE html>
{% extends "first_app/base.html" %}

{% block body_block%}
<h4>Artist Name: {{artist_info.first_name}} {{artist_info.last_name}}</h4>
<h4>Artist Instrument: {{artist_info.instrument}}</h4>
<h4>Average Rating: {{artist_rating.num_stars__avg}} </h4>

<a href="{% url 'First_app:edit_artist' artist_id=artist_info.id %}" class="btn btn-success btn-sm">Edit</a>

<h2>List of Album:</h2>
<table class="table table-bordered">
  <tr>
    <th>Albam Name</th>
    <th>Release Date</th>
    <th>Rating</th>
  </tr>
  <tr>
    {% for albam in albam_list %}
    <td> <a href="{% url 'First_app:edit_albam' albam_id=albam.id %}"> {{albam.name}} </a></td>
    <td>{{albam.release_date|date:"M, d, Y"}}</td>
    <td>{{albam.num_stars}}</td>
  </tr>
  {% endfor%}
</table>

<a href="{% url 'First_app:delete_artist' artist_id=artist_info.id %}" class="btn btn-danger" onclick="return confirm('Delete this Musician? ')">Delete</a>

{% endblock %}
