<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>form</title>
  </head>
  <body>
    <h3>This is a form</h3>
    <!-- <form  action="" method="post">



      <label for="user_name">Full Name</label>
      <input type="text" name="user_name" value="Nibir" required>

      <label for="email">Email</label>
      <input type="email" name="email" value="" required>

      <input type="submit" name="" value="submit"> -->

      <hr>

      <h3>{{heading_1}}</h3>

      <form class="" action="" method="post">
        {{text_form.as_p}}

        <input type="button" name="" value="submit">

      </form>


    </form>

  </body>
</html>
